.header{
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.header__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}
.header__item{
    display: flex;
    align-items: center;
}
.header__img{
    margin-left: 20px;
}
.toggle__list{
    list-style-type: none;
    position: absolute;
    top: 60px;
    right: 24px;
    width: 1100px;
    font-size: 20px;
    color: #fff;
    background:black;
    opacity: 0.8;
    box-shadow: 10px 20px 50px black;
    padding: 40px 50px;
    border-radius: 20px;
}
.toggle__item{
    margin-bottom: 20px;
}
.toggle__link{
    color: #fff;
    text-decoration: none;
}
.toggle__btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

@media(max-width: 1140px){
    .header{
        width: 1000px;
    }
    .toggle__list{
        width: 900px;
    }
}
@media(max-width: 1040px){
    .header{
        width: 940px;
    }
    .toggle__list{
        width: 800px;
    }
}
@media(max-width: 940px){
    .header{
        width: 840px;
    }
    .toggle__list{
        width: 700px;
    }
}
@media(max-width: 840px){
    .header{
        width: 740px;
    }
    .toggle__list{
        width: 600px;
    }
}
@media(max-width: 740px){
    .header{
        width: 640px;
    }
    .toggle__list{
        width: 500px;
    }
}
@media(max-width: 640px){
    .header{
        width: 540px;
    }
    .header__item2{
        display: none;
    }
    .header__item3{
        position: absolute;
        right: 0;
    }
    .header__nav{
        width: 440px;
    }
    .toggle__list{
        width: 400px;
    }
}