body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E5E5E5;
}
.container{
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
}

@media(max-width: 1140px){
  .container{
      width: 1040px;
  }
}
@media(max-width: 1040px){
  .container{
      width: 940px;
  }
}
@media(max-width: 940px){
  .container{
      width: 840px;
  }
}
@media(max-width: 840px){
  .container{
      width: 740px;
  }
}
@media(max-width: 740px){
  .container{
      width: 640px;
  }
}
@media(max-width: 640px){
  .container{
      width: 540px;
  }
}
@media(max-width: 540px){
  .container{
      width: 440px;
  }
}
@media(max-width: 440px){
  .container{
      width: 375px;
  }
}